build/cmake_install.cmake
build/CMakeCache.txt
build/app/cmake_install.cmake
build/app/CMakeFiles/hello_world.dir/Info.plist
build/app/CMakeFiles/hello_world.dir/Debug/hello_world.DependencyMetadataFileList
build/app/CMakeFiles/hello_world.dir/Debug/hello_world.DependencyStaticMetadataFileList
build/app/CMakeFiles/hello_world.dir/Debug/Objects-normal/arm64/af3fcb34312c57c0f52879cdce924b91-common-args.resp
build/app/CMakeFiles/hello_world.dir/Debug/Objects-normal/arm64/hello_world.LinkFileList
build/app/CMakeFiles/hello_world.dir/Debug/Objects-normal/arm64/hello_world_dependency_info.dat
build/app/CMakeFiles/hello_world.dir/Debug/Objects-normal/arm64/main.d
build/app/CMakeFiles/hello_world.dir/Debug/Objects-normal/arm64/main.dia
build/app/CMakeFiles/hello_world.dir/Debug/Objects-normal/arm64/main.o
build/app/CMakeFiles/hello_world.dir/Release/hello_world.DependencyMetadataFileList
build/app/CMakeFiles/hello_world.dir/Release/hello_world.DependencyStaticMetadataFileList
build/app/CMakeFiles/hello_world.dir/Release/Script-7E720354269681E818496F6A.sh
build/app/CMakeFiles/hello_world.dir/Release/Objects-normal/arm64/af3fcb34312c57c0f52879cdce924b91-common-args.resp
build/app/CMakeFiles/hello_world.dir/Release/Objects-normal/arm64/hello_world.LinkFileList
build/app/CMakeFiles/hello_world.dir/Release/Objects-normal/arm64/hello_world_dependency_info.dat
build/app/CMakeFiles/hello_world.dir/Release/Objects-normal/arm64/main.d
build/app/CMakeFiles/hello_world.dir/Release/Objects-normal/arm64/main.dia
build/app/CMakeFiles/hello_world.dir/Release/Objects-normal/arm64/main.o
build/app/Debug/hello_world.app/Contents/Info.plist
build/app/Debug/hello_world.app/Contents/PkgInfo
build/app/Debug/hello_world.app/Contents/MacOS/hello_world
build/app/Release/hello_world.app
build/build/EagerLinkingTBDs/Debug/HelloFramework.framework/HelloFramework.tbd
build/build/EagerLinkingTBDs/Debug/HelloFramework.framework/Versions/A/HelloFramework.tbd
build/build/HelloWorldCocoaApp.build/Debug/ZERO_CHECK.build/Script-BE1208E4CC5F8B3EB9A5497D.sh
build/build/XCBuildData/build.db
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/build-request.json
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/description.msgpack
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/manifest.json
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/target-graph.txt
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/task-store.msgpack
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/113e73752ed19b4bfef9f8ab151dd3bf
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/32f7ea413f5a8c8def608fdc3a65ea0f
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/7b81a70500459fddc9efe2f292640945
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/87226337a1d41d6701b375bc6221c4ac
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/a001b7bed2326fba642a95e3eb605aec
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/d0d4110fda3ebea333bbed084f5f84f2
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/f330a35e53a494647aaf241aa0f2be01
build/build/XCBuildData/12fbd97316eda43a186e12a302fdffc3.xcbuilddata/attachments/f999634c2fd317129537a481c21b005e
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/build-request.json
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/description.msgpack
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/manifest.json
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/target-graph.txt
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/task-store.msgpack
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/113e73752ed19b4bfef9f8ab151dd3bf
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/32f7ea413f5a8c8def608fdc3a65ea0f
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/7b81a70500459fddc9efe2f292640945
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/87226337a1d41d6701b375bc6221c4ac
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/a001b7bed2326fba642a95e3eb605aec
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/d0d4110fda3ebea333bbed084f5f84f2
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/f330a35e53a494647aaf241aa0f2be01
build/build/XCBuildData/30c837da3cfa48207905dcb6bde465e9.xcbuilddata/attachments/f999634c2fd317129537a481c21b005e
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/build-request.json
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/description.msgpack
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/manifest.json
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/target-graph.txt
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/task-store.msgpack
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/113e73752ed19b4bfef9f8ab151dd3bf
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/32f7ea413f5a8c8def608fdc3a65ea0f
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/7b81a70500459fddc9efe2f292640945
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/87226337a1d41d6701b375bc6221c4ac
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/a001b7bed2326fba642a95e3eb605aec
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/d0d4110fda3ebea333bbed084f5f84f2
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/f330a35e53a494647aaf241aa0f2be01
build/build/XCBuildData/31973bd58899da045f572141135cbabe.xcbuilddata/attachments/f999634c2fd317129537a481c21b005e
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/build-request.json
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/description.msgpack
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/manifest.json
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/target-graph.txt
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/task-store.msgpack
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/113e73752ed19b4bfef9f8ab151dd3bf
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/32f7ea413f5a8c8def608fdc3a65ea0f
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/7b81a70500459fddc9efe2f292640945
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/87226337a1d41d6701b375bc6221c4ac
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/a001b7bed2326fba642a95e3eb605aec
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/d0d4110fda3ebea333bbed084f5f84f2
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/f330a35e53a494647aaf241aa0f2be01
build/build/XCBuildData/f98935393e65b989107253661734caa2.xcbuilddata/attachments/f999634c2fd317129537a481c21b005e
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.0-rc1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.0-rc1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC-d9d24303ac0ea36fa2bc7f98aeea5fe3-VFS/all-product-headers.yaml
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-non-framework-target-headers.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-target-headers.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-generated-files.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-own-target-headers.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-project-headers.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.DependencyMetadataFileList
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.DependencyStaticMetadataFileList
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.xcent
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.xcent.der
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/DerivedSources/Entitlements.plist
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/7187679823f38a2a940e0043cdf9d637-common-args.resp
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CMakeCCompilerId.d
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CMakeCCompilerId.dia
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CMakeCCompilerId.o
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CompilerIdC.LinkFileList
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CompilerIdC_dependency_info.dat
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/build.db
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/build-request.json
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/description.msgpack
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/manifest.json
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/target-graph.txt
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/task-store.msgpack
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/attachments/121f753e00656f04fc117ad7bc9697d3
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/attachments/177becd055ce63eae4d9f1e7ec0ce515
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/attachments/1ac1a3c82c591b3ee0b76961c878ae6d
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/attachments/a51551c9d91c1a367693ffa4732dedf6
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/CMakeFiles/3.25.0-rc1/CompilerIdC/XCBuildData/d5a4be53ae441a312fcb435c79a22d38.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX-cab83bf49ed2df1b1ab81a78cb182d1a-VFS/all-product-headers.yaml
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.DependencyMetadataFileList
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.DependencyStaticMetadataFileList
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.xcent
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.xcent.der
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/DerivedSources/Entitlements.plist
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/82b82416624d2658e5098eb0a28c15c5-common-args.resp
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.d
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.dia
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.o
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CompilerIdCXX.LinkFileList
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CompilerIdCXX_dependency_info.dat
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/build.db
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/build-request.json
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/description.msgpack
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/manifest.json
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/target-graph.txt
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/task-store.msgpack
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/attachments/177becd055ce63eae4d9f1e7ec0ce515
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/attachments/6b31056d1940c5510cd7bdb03f0c417c
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/attachments/a07a9f317c9c5654b849284e6b1e4cf0
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/attachments/a51551c9d91c1a367693ffa4732dedf6
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/XCBuildData/766173b6d9e284de9075890318057e28.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
build/CMakeScripts/ReRunCMake.make
build/framework/cmake_install.cmake
build/framework/CMakeFiles/HelloFramework.dir/Info.plist
build/framework/CMakeFiles/HelloFramework.dir/Debug/HelloFramework.DependencyMetadataFileList
build/framework/CMakeFiles/HelloFramework.dir/Debug/HelloFramework.DependencyStaticMetadataFileList
build/framework/CMakeFiles/HelloFramework.dir/Debug/Objects-normal/arm64/af3fcb34312c57c0f52879cdce924b91-common-args.resp
build/framework/CMakeFiles/HelloFramework.dir/Debug/Objects-normal/arm64/HelloFramework.d
build/framework/CMakeFiles/HelloFramework.dir/Debug/Objects-normal/arm64/HelloFramework.dia
build/framework/CMakeFiles/HelloFramework.dir/Debug/Objects-normal/arm64/HelloFramework.LinkFileList
build/framework/CMakeFiles/HelloFramework.dir/Debug/Objects-normal/arm64/HelloFramework.o
build/framework/CMakeFiles/HelloFramework.dir/Debug/Objects-normal/arm64/HelloFramework_dependency_info.dat
build/framework/CMakeFiles/HelloFramework.dir/Release/HelloFramework.DependencyMetadataFileList
build/framework/CMakeFiles/HelloFramework.dir/Release/HelloFramework.DependencyStaticMetadataFileList
build/framework/CMakeFiles/HelloFramework.dir/Release/Objects-normal/arm64/af3fcb34312c57c0f52879cdce924b91-common-args.resp
build/framework/CMakeFiles/HelloFramework.dir/Release/Objects-normal/arm64/HelloFramework.d
build/framework/CMakeFiles/HelloFramework.dir/Release/Objects-normal/arm64/HelloFramework.dia
build/framework/CMakeFiles/HelloFramework.dir/Release/Objects-normal/arm64/HelloFramework.LinkFileList
build/framework/CMakeFiles/HelloFramework.dir/Release/Objects-normal/arm64/HelloFramework.o
build/framework/CMakeFiles/HelloFramework.dir/Release/Objects-normal/arm64/HelloFramework_dependency_info.dat
build/framework/Debug/HelloFramework.framework/HelloFramework
build/framework/Debug/HelloFramework.framework/Resources
build/framework/Debug/HelloFramework.framework/Versions/Current
build/framework/Debug/HelloFramework.framework/Versions/A/HelloFramework
build/framework/Debug/HelloFramework.framework/Versions/A/Resources/Info.plist
build/framework/Release/HelloFramework.framework
build/HelloWorldCocoaApp.xcodeproj/project.pbxproj
build/HelloWorldCocoaApp.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/HelloWorldCocoaApp.xcodeproj/project.xcworkspace/xcuserdata/zuler.xcuserdatad/UserInterfaceState.xcuserstate
build/HelloWorldCocoaApp.xcodeproj/project.xcworkspace/xcuserdata/zuler.xcuserdatad/WorkspaceSettings.xcsettings
build/HelloWorldCocoaApp.xcodeproj/xcuserdata/zuler.xcuserdatad/xcschemes/xcschememanagement.plist
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/build-request.json
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/description.msgpack
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/manifest.json
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/target-graph.txt
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/task-store.msgpack
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/113e73752ed19b4bfef9f8ab151dd3bf
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/32f7ea413f5a8c8def608fdc3a65ea0f
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/87226337a1d41d6701b375bc6221c4ac
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/a001b7bed2326fba642a95e3eb605aec
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/ab0b0f838cc3c2b6d8653692c9bd7538
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/d0d4110fda3ebea333bbed084f5f84f2
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/f330a35e53a494647aaf241aa0f2be01
build/build/XCBuildData/a6062244085569d367ec14739051ba81.xcbuilddata/attachments/f999634c2fd317129537a481c21b005e
build/ExportedProducts/DistributionSummary.plist
build/ExportedProducts/ExportOptions.plist
build/ExportedProducts/Packaging.log
build/ExportedProducts/hello_world.app/Contents/Info.plist
build/ExportedProducts/hello_world.app/Contents/PkgInfo
build/ExportedProducts/hello_world.app/Contents/_CodeSignature/CodeResources
build/ExportedProducts/hello_world.app/Contents/Frameworks/HelloFramework.framework/HelloFramework
build/ExportedProducts/hello_world.app/Contents/Frameworks/HelloFramework.framework/Resources
build/ExportedProducts/hello_world.app/Contents/Frameworks/HelloFramework.framework/Versions/Current
build/ExportedProducts/hello_world.app/Contents/Frameworks/HelloFramework.framework/Versions/A/HelloFramework
build/ExportedProducts/hello_world.app/Contents/Frameworks/HelloFramework.framework/Versions/A/_CodeSignature/CodeResources
build/ExportedProducts/hello_world.app/Contents/Frameworks/HelloFramework.framework/Versions/A/Resources/Info.plist
build/ExportedProducts/hello_world.app/Contents/MacOS/hello_world
build/hello_world.xcarchive/Info.plist
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/Info.plist
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/PkgInfo
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/Frameworks/HelloFramework.framework/HelloFramework
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/Frameworks/HelloFramework.framework/Resources
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/Frameworks/HelloFramework.framework/Versions/Current
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/Frameworks/HelloFramework.framework/Versions/A/HelloFramework
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/Frameworks/HelloFramework.framework/Versions/A/_CodeSignature/CodeResources
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/Frameworks/HelloFramework.framework/Versions/A/Resources/Info.plist
build/hello_world.xcarchive/Products/Applications/hello_world.app/Contents/MacOS/hello_world
